{{ define "header" }}

{{ $homepage := site.GetPage "section" "/" }}
{{ $title := $homepage.Params.title | default "David Majury Wightman" }}
{{ $fontcolor := $homepage.Params.textcolor | default "white" }}



{{ if or .IsHome (eq .Title "Biography") }}
    <div class="title flex justify-center align-center f1 pa5">
        <h1 id="dynamic-title" style="font-family: 'Dunhill Script', cursive; text-decoration: none; color: {{ $fontcolor }};">{{ .Title }}</h1>
    </div>
{{ else }}
    <!-- Render content for other pages -->
{{ end }}


{{ if not .IsHome }}
<div class="back-button" style="z-index: 999; width: auto; height: auto;">
    <a href="{{ .Site.BaseURL }}" class="back-link" style="z-index: 999; position: fixed; top: 10px; left: 10px; font-family: 'Dunhill Script', cursive; text-decoration: none; cursor: pointer; color: {{ $fontcolor }}; font-size:24px; text-shadow: rgba(0, 0, 0, 0.6) -3px 3px 3px;">&#8592; Home</a>
</div>
{{ end }}



{{ end }}