<nav class="w-100 flex justify-center bg-transparent relative">

	<!-- Primary Nav -->
	<ul class="list flex justify-center pa0 ma0 mw8 w-100">
  
	  <li class="relative">
		<a href="/fables" class="db no-underline relative">
		  <img src="/img/fable.jpg" alt="Fables" class="db ba b--black-20 bw2" />
		  <span class="absolute top-50 left-50 translate-center white f4 fw6 dn">{{ .Params.menu1.heading }}</span>
		</a>
	  </li>
  
	  <li class="relative">
		<a href="/ikons" class="db no-underline relative">
		  <img src="/img/ikons.jpg" alt="Ikons" class="db ba b--black-20 bw2" />
		  <span class="absolute top-50 left-50 translate-center white f4 fw6 dn">{{ .Params.menu2.heading }}</span>
		</a>
	  </li>
  
	  <li class="relative">
		<a href="/untitled" class="db no-underline relative">
		  <img src="/img/untitled.jpg" alt="Untitled" class="db ba b--black-20 bw2" />
		  <span class="absolute top-50 left-50 translate-center white f4 fw6 dn">{{ .Params.menu3.heading }}</span>
		</a>
	  </li>
  
	  <li class="relative">
		<a href="/collections" class="db no-underline relative">
		  <img src="/img/collections.jpg" alt="Collections" class="db ba b--black-20 bw2" />
		  <span class="absolute top-50 left-50 translate-center white f4 fw6 dn">{{ .Params.menu4.heading }}</span>
		</a>
	  </li>
  
	  <li class="relative">
		<a href="/miscellaneous" class="db no-underline relative">
		  <img src="/img/odd.png" alt="Miscellaneous" class="db ba b--black-20 bw2" />
		  <span class="absolute top-50 left-50 translate-center white f4 fw6 dn">{{ .Params.menu5.heading }}</span>
		</a>
	  </li>
  
	  <li class="relative">
		<a href="/biography" class="db no-underline relative">
		  <img src="/img/bio/_L3D0579.jpg" alt="Biography" class="db ba b--black-20 bw2" />
		  <span class="absolute top-50 left-50 translate-center white f4 fw6 dn">{{ .Params.menu6.heading }}</span>
		</a>
	  </li>
  
	</ul>
  
  </nav>
  
