#dynamic-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

#dynamic-nav li {
    position: relative;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s ease;
    margin: 10px;
}

#dynamic-nav li.visible {
    opacity: 1;
    transform: translateY(0);
}

#dynamic-nav a {
    display: block;
    text-decoration: none;
    position: relative;
}

#dynamic-nav img {
    border: none;
    display: block;
    width: 100%; /* Ensure images scale to the width of their container */
    transition: transform 0.2s linear;
    &:hover {
        transform: rotate(1deg);
    }
}

#dynamic-nav span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    display: none;
    text-shadow: 2px 2px 4px black;
}

#dynamic-nav a:hover span {
    display: block;
}

@media (max-width: 768px) {
    #dynamic-nav a span {
        display: block;
    }
}




// ANIMATE HOMEPAGE ON LINK CLICK

@keyframes slideOutLeft {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.hidden {
    display: none; /* Ensures the content is removed from the layout after the animation */
}

.animate-out {
    animation: slideOutLeft 0.1s forwards; /* Adjust the timing and easing as needed */
}






// GALLERY STYLING


/* Default styling */
#gallery-content {
    width: 75%;
    text-align: center;
}

.gallery-arrow {
    font-size: 3rem;
    color: black;
    user-select: none;
    padding: 20px;
    cursor: pointer;
}

/* Mobile styling */
@media (max-width: 768px) {
    #gallery-content {
        width: 100% !important; /* Make image full width on mobile */
        margin-top: 50px;
    }

    .gallery-arrow {
        display: none; /* Hide the arrows on mobile */
    }

    #gallery-image img {
        max-width: 100%; /* Ensure the image takes up the full width */
        height: auto;
    }

    #gallery-label {
        margin-left: 10px;
    }
}



#gallery-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
}

.gallery-arrow {
    font-size: 3rem;
    color: black;
    user-select: none;
    padding: 20px;
    cursor: pointer;
}

#gallery-image img {
    max-width: 100%; /* Ensure the image does not exceed the container width */
    max-height: 75vh; /* Ensure the image does not exceed 3/4 of the viewport height */
    height: auto; /* Maintain the aspect ratio */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

#gallery-label h2 {
    font-family: 'Helvetica', sans-serif;
    font-size: 1.5rem;
}

#gallery-label p {
    font-family: 'Helvetica', sans-serif;
    font-size: 1rem;
    color: gray;
}

/* Container for the sliding images */
#gallery-image {
    position: relative;
    overflow: hidden; /* Hide overflow to avoid showing images during animation */
}

/* Add these CSS animations */
@keyframes slideInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideOutLeft {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(-100%);
      opacity: 0;
    }
  }
  
  @keyframes slideOutRight {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(100%);
      opacity: 0;
    }
  }
  
  .slide-in-left {
    animation: slideInLeft 0.5s forwards;
  }
  
  .slide-in-right {
    animation: slideInRight 0.5s forwards;
  }
  
  .slide-out-left {
    animation: slideOutLeft 0.5s forwards;
  }
  
  .slide-out-right {
    animation: slideOutRight 0.5s forwards;
  }
  

#info-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#info-modal > div {
    overflow-y: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 90%;
}

#info-modal > div > div {
    padding: 20px;
    padding-top: 35px;
    max-width: 100%;
    max-height: 90vh;
    border-radius: 10px;
    color: black;
    overflow-y: auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

#close-modal {
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 0px;
    right: 12px;
}

@media (max-width: 768px) {
    #info-modal > div {
        max-width: 95vw;
        padding: 10px;
        width: 100%;
    }
    #info-modal > div > div {
        padding-top: 35px;
    }
}


/* Classes to trigger the animations */
.slide-out {
    animation: slideOutLeft 0.5s forwards; /* Adjust timing as needed */
}

.slide-in {
    animation: slideInRight 0.5s forwards;
}


// BIO

.biography-content {
    max-width: 800px; /* Adjust this width to control how wide the text block is */
    margin: 0 auto; /* Centers the block horizontally */
    text-align: left; /* Keeps the text left-aligned within the centered block */
  //  padding: 20px; /* Optional: add padding to create space inside the block */
    font-size: 24px;
    p {
        max-width: unset !important;
        padding-top: 25px;
    }
  }

  @media (max-width: 768px) {.biography-content {p{padding-left: 10px; padding-right: 10px;}}}
  
  .biography-container {
    display: flex;
    justify-content: center;
    align-items: center;
   // padding: 20px; /* Optional: additional padding around the centered block */
  }

  .sound-button {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 0px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    svg {
        filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5));;
    } 
  }
  
  .sound-button:hover {
    transition: transform 1s linear;
    transform: rotate(2deg);
  }
  
  