{{ define "main" }}

{{ $homepage := site.GetPage "section" "/" }}
{{ $title := $homepage.Params.title | default "David Majury Wightman" }}
{{ $fontcolor := $homepage.Params.textcolor | default "white" }}

<div id="gallery-container" style="display: flex; align-items: center; justify-content: center; height: 100vh; position: relative;">
    
    <!-- Left Arrow -->
    <div id="left-arrow" class="gallery-arrow" style="cursor: pointer; font-size: 2rem; padding: 0 20px; color: {{ $fontcolor }};">&#9664;</div>
    
    <!-- Image and Label -->
    <div id="gallery-content" style="width: 75%; text-align: center;">
        <div id="gallery-image" style="position: relative;">
            <img id="main-image" src="{{ with index .Pages 0 }}{{ .Params.image }}{{ end }}" alt="{{ with index .Pages 0 }}{{ .Title }}{{ end }}" style="max-width: 100%; height: auto;">
        </div>
        <div id="gallery-label" style="color: white; margin-top: 20px; font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; text-align: left; width: 50%; ">
            <p id="image-title" style="color: white; margin: 0; font-style: italic;">{{ with index .Pages 0 }}{{ .Title }}{{ end }} ({{ with index .Pages 0 }}{{ .Params.year }}{{ end }})</p>
            <p id="image-medium" style="color: white; margin: 0;">{{ with index .Pages 0 }}{{ .Params.medium }}{{ end }}</p>
            <p id="image-dimensions" style="color: white; margin: 0;">{{ with index .Pages 0 }}{{ .Params.dimensions }}{{ end }}</p>
            <!-- Info button will be added dynamically here -->
        </div>
    </div>
    
    <!-- Right Arrow -->
    <div id="right-arrow" class="gallery-arrow" style="cursor: pointer; font-size: 2rem; padding: 0 20px; color: {{ $fontcolor }};">&#9654;</div>
</div>

<!-- Info modal will be added dynamically here -->

<script>
document.addEventListener('DOMContentLoaded', function() {
    const pages = JSON.parse('{{ .Pages | jsonify | safeJS }}');
    let currentIndex = 0;
    let isAnimating = false;
    let startX = 0;
    let endX = 0;

    const mainImage = document.getElementById('main-image');
    const imageTitle = document.getElementById('image-title');
    const imageMedium = document.getElementById('image-medium');
    const imageDimensions = document.getElementById('image-dimensions');

    function updateGallery(index, direction) {
        if (index >= 0 && index < pages.length) {
            const page = pages[index];

            const slideOutClass = direction === 'left' ? 'slide-out-right' : 'slide-out-left';
            const slideInClass = direction === 'left' ? 'slide-in-left' : 'slide-in-right';

            mainImage.classList.add(slideOutClass);
            isAnimating = true;

            mainImage.addEventListener('animationend', function handleSlideOut() {
                mainImage.classList.remove(slideOutClass);
                mainImage.classList.add(slideInClass);

                mainImage.src = page.Params.image.replace('/site/static', '');
                mainImage.alt = page.Title;
                imageTitle.textContent = `${page.Title} (${page.Params.year})`;
                imageMedium.textContent = page.Params.medium;
                imageDimensions.textContent = page.Params.dimensions;

                updateInfoButtonAndModal(page);

                mainImage.addEventListener('animationend', function handleSlideIn() {
                    mainImage.classList.remove(slideInClass);
                    isAnimating = false;
                    mainImage.removeEventListener('animationend', handleSlideIn);
                });

                mainImage.removeEventListener('animationend', handleSlideOut);
            });
        } else {
            console.error("Index out of bounds:", index);
        }
    }
    
        function updateInfoButtonAndModal(page) {
            // Remove any existing info button or modal
            const existingInfoButton = document.getElementById('info-button');
            if (existingInfoButton) {
                existingInfoButton.remove();
            }
    
            const existingInfoModal = document.getElementById('info-modal');
            if (existingInfoModal) {
                existingInfoModal.remove();
            }
    
            // Add new info button if the content exists
            if (page.RawContent && page.RawContent.length > 1) {
                const galleryLabel = document.getElementById('gallery-label');
                const infoButton = document.createElement('p');
                infoButton.id = 'info-button';
                infoButton.style.cursor = 'pointer';
                infoButton.style.color = 'white';
                infoButton.style.margin = '0';
                infoButton.style.textDecoration = 'underline';
                infoButton.textContent = 'more information';
                galleryLabel.appendChild(infoButton);
    
                // Add new modal
                const infoModal = document.createElement('div');
                infoModal.id = 'info-modal';
                infoModal.style.display = 'none';
                infoModal.style.position = 'fixed';
                infoModal.style.top = '0';
                infoModal.style.left = '0';
                infoModal.style.width = '100vw';
                infoModal.style.height = '100vh';
                infoModal.style.backgroundColor = 'rgba(0, 0, 0, 0.5)';
                infoModal.style.zIndex = '1000';
    
                const modalContent = document.createElement('div');
                modalContent.style.overflowY = 'auto';
                modalContent.style.position = 'absolute';
                modalContent.style.top = '50%';
                modalContent.style.left = '50%';
                modalContent.style.transform = 'translate(-50%, -50%)';
                modalContent.style.maxWidth = '90%';
                modalContent.style.padding = '20px';
                modalContent.style.backgroundColor = '{{ $fontcolor }}';
                modalContent.style.borderRadius = '10px';
                modalContent.style.boxShadow = '0px 4px 10px rgba(0, 0, 0, 0.3)';
                modalContent.innerHTML = page.RawContent;
    
                const closeModal = document.createElement('span');
                closeModal.id = 'close-modal';
                closeModal.style.cursor = 'pointer';
                closeModal.style.fontSize = '24px';
                closeModal.style.position = 'absolute';
                closeModal.style.top = '0px';
                closeModal.style.right = '12px';
                closeModal.innerHTML = '&times;';
                closeModal.addEventListener('click', function() {
                    infoModal.style.display = 'none';
                });
    
                modalContent.appendChild(closeModal);
                infoModal.appendChild(modalContent);
                document.body.appendChild(infoModal);
    
                // Show modal on info button click
                infoButton.addEventListener('click', function() {
                    infoModal.style.display = 'flex';
                });
    
                // Close modal when clicking outside the content box
                window.addEventListener('click', function(event) {
                    if (event.target == infoModal) {
                        infoModal.style.display = 'none';
                    }
                });
            }
        }
    
    function navigateGallery(direction) {
        if (isAnimating) return;

        const nextIndex = direction === 'left' ? currentIndex + 1 : currentIndex - 1;

        if (nextIndex < 0) {
            currentIndex = pages.length - 1;
        } else if (nextIndex >= pages.length) {
            currentIndex = 0;
        } else {
            currentIndex = nextIndex;
        }

        updateGallery(currentIndex, direction);
    }
    
        document.getElementById('left-arrow').addEventListener('click', function() {
        navigateGallery('left');
    });

    document.getElementById('right-arrow').addEventListener('click', function() {
        navigateGallery('right');
    });

    // Touch event listeners for swipe navigation
    mainImage.addEventListener('touchstart', function(event) {
        startX = event.touches[0].clientX;
    });

    mainImage.addEventListener('touchmove', function(event) {
        endX = event.touches[0].clientX;
    });

    mainImage.addEventListener('touchend', function() {
        const threshold = 50; // Minimum distance for swipe to be considered
        const diffX = startX - endX;

        if (Math.abs(diffX) > threshold) {
            if (diffX > 0) {
                // Swiped left
                navigateGallery('right');
            } else {
                // Swiped right
                navigateGallery('left');
            }
        }
    });
    
        // Initialize gallery with the first image
        // updateGallery(currentIndex);
    });
    </script>
    

{{ end }}
