{{ define "main" }}

<div style="min-height: 100vh;" id="container">
    <div class="homepage">
        <div class="title flex justify-center align-center f1 pa5">
            <h1 id="dynamic-title" style="font-family: 'Dunhill Script', cursive; color: rgba({{ .Params.textcolor }});">{{ .Title }}</h1>
        </div>
        <div class="frames-wall">
            {{ partial "nav" . }}
        </div>
    </div>
</div>

<script>
    document.addEventListener('mousemove', function(e) {
        let x = e.clientX / window.innerWidth;
        let y = e.clientY / window.innerHeight;
  
        // Adjust the background based on mouse position
        document.body.style.backgroundImage = `
          radial-gradient(circle at ${x * 100}% ${y * 100}%, rgba(255, 255, 255, 0.15), transparent),
          radial-gradient(circle at ${100 - x * 100}% ${100 - y * 100}%, rgba(0, 0, 0, 0.15), transparent),
          radial-gradient(circle, rgba(255, 255, 255, 0.1), transparent 50%)
        `;
  
        // Adjust the text shadow on the h1 element based on mouse position
        let shadowX = (0.5 - x) * 5; // Calculate shadow offset
        let shadowY = (0.5 - y) * 5;
        let blur = 10; // Shadow blur radius
        let shadowColor = 'rgba(0, 0, 0, 0.5)'; // Shadow color
  
        let h1Element = document.getElementById('dynamic-title');
        h1Element.style.textShadow = `${shadowX}px ${shadowY}px ${blur}px ${shadowColor}`;
    });
  </script>

{{ end }}
