{{ define "main" }}

<div style="min-height: 100vh;" id="container">
    <div class="homepage">
        <div class="title flex justify-center align-center f1 pa5">
            <h1 id="dynamic-title" style="font-family: 'Dunhill Script', cursive; color: rgba({{ .Params.textcolor }});">{{ .Title }}</h1>
        </div>
        <div class="frames-wall">
            {{ partial "nav" . }}
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
    // Set the background gradient
    document.body.style.backgroundImage = `
        radial-gradient(circle at top left, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0) 70%),
        radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.15), transparent),
        radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.15), transparent)
    `;

    // Set the shadow properties
    const shadowX = -5; // Shadow offset to the left
    const shadowY = 5;  // Shadow offset downwards
    const blur = 5;    // Shadow blur radius
    const shadowColor = 'rgba(0, 0, 0, 0.6)'; // Shadow color

    // Apply shadow to the h1 element
    let h1Element = document.getElementById('dynamic-title');
    if (h1Element) {
        h1Element.style.textShadow = `${shadowX}px ${shadowY}px ${blur}px ${shadowColor}`;
    }

    // Apply shadow to all elements with the class 'menuimg'
    let menuImages = document.querySelectorAll('.menuimg');
    menuImages.forEach(function(img) {
        img.style.filter = `drop-shadow(${shadowX}px ${shadowY}px ${blur}px ${shadowColor})`;
    });
});


</script>


{{ end }}
